/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


body {
	margin:0;
	height: auto;
	width: auto;
	font-size: 16px;
}

.hlavicka, .paticka {
	height: 20vh;
}
.telo {
	height: 60vh;
	display: flex;
	flex-direction: row;
}

.nav, .aside {
	width: 20vw;
}

.article {
	width: 60vw;
}

.hlavicka,
.nav,
.article,
.aside,
.paticka {
	padding: 10px;
}





